html
    head
        title Product upload form
        style(type="text/css"). 
            h1 {
            color: blue;
            font-size: 20px;
            text-align: center;
          }

          input {
            width: 100%;
            margin-bottom: 10px;
          }

          form {
            width: 50%;
            margin-left: 25%;
          }

          form .submit {
            background-color: greenyellow;
          }

          label {
            font-weight: bold;
          }

          a > div {
            text-align: center;
          }
    body
        h1 Add a new product
        form(
            action='/products'
            enctype='application/x-www-form-urlencoded'
            method='POST'
        )
            input(
                type="text"
                name="name"
                id="name"
                placeholder="Name"
            )
            input(
                type="text"
                name="price"
                id="price"
                placeholder="Price"
            )
            input(
                type="text"
                name="thumbnail"
                id="thumbnail"
                placeholder="Thumbnail"
            )
            input(
                type="submit"
                value="Upload product"
                class="submit"
            )

        a(href="/products")
            div
                button See product list